body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #E79CC2; /* Light pink background */
    color: #1D1B38; /* Dark purple text color */
}

header {
    text-align: center;
    padding: 20px 0;
}

.profiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.profile-card {
    margin: 20px;
    background-color: white; /* Light purple background */
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Glass morphism effect */
    transition: transform 0.3s ease;
    width: calc(30% - 40px); /* Adjust width to fit 3 profiles in a row */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content vertically */
}

.profile-card:hover {
    transform: translateY(-5px); /* Lift card on hover */
}

.profile-img {
    margin-top: -60px; /* Adjust image position */
}

.profile-img img {
    width: 120px; /* Adjust image size */
    height: 120px;
    border-radius: 50%; /* Make image circular */
    object-fit: cover; /* Maintain aspect ratio */
}

.profile-info {
    padding: 20px;
    text-align: center;
    flex-grow: 1; /* Allow profile info to expand */
}

.profile-info h2 {
    margin-top: 0;
}

.connect-btn {
    background-color: #DA0C81; /* Pink background */
    color: #fff; /* White text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%; /* Button fills entire width */
    margin-top: 20px; /* Add space below profile info */
}

.connect-btn:hover {
    background-color: #FC7FB2; /* Light pink background on hover */
}
